<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="org.springframework.context.support.ResourceBundleMessageSource" id="msgSrcId">
		<property name="basename" value="com.practice.resources.MessageBundle"></property>
	</bean>
    <bean class="com.practice.bean.Student" id="stdId">
 		<property name="messageSource" ref="msgSrcId"></property>
    </bean>

</beans>